<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <h1 id="msg"></h1>
    <input type="text" id="name" placeholder="name" />
    <button onclick="handleName()" id="btn">Send</button>

    <script src="socket.io/socket.io.js"></script>
    <script>
      // let socket = io();
      // socket.on("timeEvent", (time) => {
      //   const h1 = document.getElementById("msg");
      //   h1.innerHTML = time;
      // });

      //data send to client to server
      let socket = io();
      const handleName = () => {
        const name = document.getElementById("name").value;
        socket.emit("inpValue", name);
      };
    </script>
  </body>
</html>
